{{#each books}}
<img src="{{this.volumeInfo.imageLinks.smallThumbnail}}" height="100" />
title: {{this.volumeInfo.title}}<br>
authors: {{this.volumeInfo.authors}}<br>
<form action="/books/my-books/{{bookData.title}}/{{bookData.authors}}" method="POST">
    <button>Add to my books</button>
</form>

{{/each}}