{{!-- <img src={{dataToShowToUsers.thumbnail}} height="500" width="500" /> --}}
<h1>{{bookData.title}}</h1>
<h2>{{bookData.authors}}</h1>
<h3>{{bookData.description}}</h1>

<form action="/books/my-books" method="POST">
    <button onclick="{{addToMyBooks}}">Add to my books</button>
</form>








